/*顶部搜索框的制作*/
.jd_layout {
    width: 100%;
    /*最大宽度*/
    max-width: 640px;
    /*最小宽度*/
    min-width: 320px;
    /*height: 1000px;*/
    background-color: #eee;
    margin: 0 auto;
}
.js_search {
    width: 100%;
    height: 40px;
    position: fixed;  /*固定在顶部*/
    background-color: rgba(233, 35, 34, 0);
    max-width: 640px;
    z-index: 999;
}
.jd_logo {
    width: 56px;
    height: 30px;
    position: absolute;
    background: url("../images/jd-sprites.png");
    background-size: 200px 200px;  /*设置背景大小*/
    background-position: 0px 92px;
    left: 10px;
    top: 5px;
}
.jd_searchBox {
    /*width: 100%;*/
    height: 100%;
    padding-left: 76px;
    padding-right: 50px;
}
.jd_searchBox > input {
    width: 100%;
    height: 30px;
    margin-top: 5px;
    padding-left: 30px;
    border-radius: 15px;
    color: #666666;
    font-size: 14px;
}
.jd_searchBox::before {
    content: "";
    width: 27px;
    height: 23px;
    position: absolute;
    background: url("../images/jd-sprites.png");
    background-size: 200px 200px;
    background-position: -56px 90px;
    top: 11px;
    left: 84px;
}
.jd_login {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
}
/*轮播图的制作*/
.jd_banner {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.jd_bannerImg {
    width: 800%;
    position: relative;
}
.jd_bannerImg > li {
    width: 12.5%;
    float: left;
}
.jd_bannerImg > li img {
    /*设置文本以基线对齐的方式*/
    /*1.设置为块级元素
      2.可以将文本的字体大小设置为0
      3.vertical-align:bottom(基线的对齐方式是底对齐)*/
    display: block;
    width: 100%;
}
/*轮播图中点的制作*/
.jd_bannerIndicator {
    width: 128px;
    height: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
}
.jd_bannerIndicator > li {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    border: 1px solid #FFFFFF;
    float: left;
    margin-left: 10px;
}
.jd_bannerIndicator > li :first-child {
    margin-left: 0;
}
.jd_bannerIndicator > li.active {
    background-color: #fff;
}
/*导航栏的制作*/
.jd_nav {
    width: 100%;
    background-color: #fff;
    padding: 10px 0;
}
.jd_nav li {
    float: left;
    width: 25%;
   text-align: center;
    margin-top: 5px;
}
.jd_nav li img {
    width: 60px;
}
.jd_nav li p {
    line-height: 25px;
}

/*产品块的制作*/
.jd_product {
    width: 100%;
}
.jd_productBox {
    width: 100%;
    margin-top: 10px;
    background-color: #fff;
    /*添加盒子阴影*/
    box-shadow: 1px 1px 1px #cccccc;
}
.jd_productBox>.jd_pTip {
    width: 100%;
    height: 30px;
    border-bottom: 2px solid #cccccc;
    line-height: 30px;
    color: #666666;
}
.jd_productBox>.jd_pTip>h3 {
    position: relative;
    padding-left: 30px;
}
.jd_productBox>.jd_pTip>h3::before {
    content: "";
    width: 3px;
    height: 12px;
    position: absolute;
    background-color: #e92322;
    top: 9px;
    left: -23px;
}
/*产品块图片超链接*/
.a_50 {
    width: 50%;
    display: block;
    float: left;
}
.a_50 > img {
    width: 100%;
}
.b_left {
    border-left: 1px solid #ccc;
}
.b_right {
    border-right: 1px solid #ccc;
}
.b_bottom {
    border-bottom: 1px solid #ccc;
}
/*京东秒杀块的制作*/
.jd_sk {}
.jd_sk > .jd_pTip {
    border-bottom: none;
}
.jd_sk > .jd_pTip .jd_sk_icon {
    width: 16px;
    height: 20px;
    background: url("../images/seckill-icon.png");
    background-size: 16px 20px;
    margin-left: 9px;
    margin-top: 3px;
}
.jd_sk > .jd_pTip .jd_sk_text {
    color: #e92322;
}
.jd_sk > .jd_pTip .jd_sk_time > span {
    width: 13px;
    height: 18px;
    color: #FFFFFF;
    background-color: #000000;
    display: inline-block;
    line-height: 18px;
    text-align: center;
}
.jd_sk > .jd_pTip .jd_sk_time > span:nth-child(3),
.jd_sk > .jd_pTip .jd_sk_time > span:nth-child(6){
    color: #000000;
    background-color: transparent;  /*没有背景色  就是透明色*/
    width: 5px;
}
.jd_sk > .jd_pContent > ul {
    width: 100%;
    padding: 20px;
}
.jd_sk > .jd_pContent > ul li {
    width: 33.33%;
    float: left;
    text-align: center;
}
.jd_sk > .jd_pContent > ul li img {
    width: 60%;
    display: inline-block;
}